<!DOCTYPE html>
<html lang="vie">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/module/user_info.css">
    <title>  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    
        <div>
            <% if(user_id === 0) {%>
                <a style="margin-top: 5px;" href="/user/sign-in"> Đăng nhập</a>
                <%} else {%>
                        <div>
                            <p id="username"><%- user.name %></p>
                        </div>

                        <div id="hidden">

                            <div  style="margin-top: -18px;">
                                <img id="btn_close" style="margin-bottom: 10px; opacity: 50%;" src="Resources/Icon/close.svg" height="20px" width="20px">
                            </div>
                            
                            <div>
                                <ul id="user_menu" style="width: 100%; height: 30px; font-size: 18px;">
                                    <li style="margin-right: 15px; ;" id="show_info" class="user_active">Thông tin</li>
                                    <li id="show_pass_change" class="user_inactive" >Đổi mật khẩu</li>
                                    <li style="float: right; opacity: 100%;">
                                        <a style="font-size: 18px; color: rgb(241, 83, 83); line-height: 1.5; margin-top: 0; padding: 0px; " href="user/sign-out">Đăng xuất</a>
                                    </li>
                                </ul>
                            </div> 

                            <form action="/user/update_pass" method="POST" id="change_pass" >
                                <ul>
                                    <input type="hidden" name="user_id" value="<%-user.user_id_%>">
                                   
                                    <% if(user.password !== null){ %>
                                        <li>
                                            <div class="info_row">      
                                                <div    > 
                                                    <label for="old_pass"><b>Mật khẩu cũ:</b></label>
                                                </div>
                                                <div class="info_input">
                                                    <input id="old_pass" type="password" name="old_pass" onchange="checkPass()">
                                                </div>
                                            </div>
                                        </li>
                                    <% } %>  
                                    <li>
                                        <div class="info_row">      
                                            <div    > 
                                                <label for="new_pass"><b>Mật khẩu mới:</b></label>
                                            </div>
                                            </div>
                                            <div class="info_input">
                                                <input id="new_pass" type="password" name="new_pass" onchange="checkPass()">
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="info_row">      
                                            <div    > 
                                                <label for="confirm"><b>Nhập lại mật khẩu mới:</b></label>
                                            </div>
                                            <div class="info_input">
                                                <input id="confirm" type="password" name="confirm" onchange="checkPass()">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                               
                                <button class="btn" id="update_password" disabled> Cập nhật</button>
                            </form>

                            <script>
                                 $("#update_password").css("opacity", "40%");

                                function checkPass(){
                                    if($("#change_pass").valid() == true){
                                        $("#update_password").attr("disabled",false).css("opacity", "100%");
                                    } else {
                                        $("#update_password").attr("disabled",true).css("opacity", "40%");
                                    }
                                }

                                $(document).ready(function() {      //validate
               
                                    $("#change_pass").validate({
                                        rules: {
                                            old_pass:{
                                                required: true,
                                                minlength: 4
                                            },
                                            new_pass:{
                                                required: true,
                                                minlength: 4
                                            },
                                            confirm:{
                                                required: true,
                                                equalTo: "#new_pass"
                                            }
                                        },
                                        messages: {
                                            old_pass:{
                                                required: "Mật khẩu cũ là bắt buộc",
                                                minlength: "Mật khẩu tối thiểu 4 ký tự" 
                                            },
                                            new_pass:{
                                                required: "Vui lòng nhập mật khẩu mới",
                                                minlength: "Mật khẩu phải dài hơn 4 kí tự"                                                
                                                },
                                            confirm:{
                                                required: "Vui lòng nhập lại mật khẩu",
                                                equalTo: "Mật khẩu không trùng khớp"
                                            },  
                                        }
                                    });
                                    
                                });

                            </script>

                            <form action="/user/update_user" id="info" method="POST" >
                                <ul>
                                    <li>
                                        <input type="hidden" name="user_id" value="<%-user.user_id_%>">
                                        <div class="info_row">      
                                            <div > 
                                                <label for="info_name"><b>Tên:</b></label>
                                            </div>
                                            <div class="info_input">
                                                <input id="info_name" type="text" name="name" value= "<%- user.name_%>" onchange="checkform()">
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="info_row">      
                                            <div > 
                                                <label for="info_phone"><b>Số điện thoại:</b></label>
                                            </div>
                                            <div class="info_input">
                                                <input id="info_phone" type="tel" name="phone" onchange="checkform()" value="<%- '0' + user.phone_%>">
                                            </div>
                                            <label id="phone-error" class="error" ></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="info_row">      
                                            <div > 
                                                <label for="info_email"><b>Email:</b></label>
                                            </div>
                                            <div class="info_input">
                                                <input id="info_email" type="text"  name="email" value="<%- user.email_%>" onchange="checkform()" >
                                            </div>
                                            <label id="email-error" class="error" ></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="info_row">      
                                            <div > 
                                                <label for="info_address"><b>Địa chỉ:</b></label>
                                            </div>
                                            <div class="info_input">
                                                <input id="info_address" type="text" name="address" value="<%- user.address%>" onchange="checkform()">
                                            </div>
                                        </div>
                                    </li>
                                    
                                        <button class="btn" id="update_info" disabled type="submit"> Cập nhật</button>
                                </ul>   
                            </form>

                            <script>
                              
                                $("#update_info").css("opacity", "40%");

                                $(document).ready(function(){
                                    $("#info").validate({
                                        rules:{
                                            name:{
                                                required: true
                                            },
                                            phone:{
                                                required: true
                                            },
                                            email: {
                                                required: true
                                            },
                                            address:{
                                                required: true
                                            }
                                        },
                                        messages:{
                                            name: {
                                                required: "Tên không được để trống"
                                            },
                                            phone: {
                                                required: "Số điện thoại không được để trống"
                                            },
                                            email: {
                                                required: "Email là bắt buộc"
                                                
                                            },
                                            address:{
                                                required: "Địa chỉ không được bỏ trống"
                                            }
                                        }
                                    });
                                });

                                function checkform(){
                                    var valid = $("#info").valid();
                                    var mailvalid = checkmail();
                                    var phonevalid = checkphone();

                                    if(valid == true && mailvalid == true && phonevalid && true){
                                        $("#update_info").attr("disabled",false).css("opacity", "100%")
                                    } else {
                                        $("#update_info").attr("disabled", true).css("opacity", "40%")
                                    }
                                }

                                function checkmail(){
                                    $("#email-error").attr("style",false);
                                    const mail_regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                                    var email = $('#info_email').val();
                                    if(email !== ''){
                                        if (mail_regex.test(email) == false) 
                                        {
                                            document.getElementById("email-error").textContent = "Vui lòng nhập đúng định dạng email";
                                            return false;
                                        }else{
                                            document.getElementById("email-error").textContent = '';
                                            return true;
                                        }
                                    }else{
                                        if(document.getElementById("info_email-error").textContent = 'Email là bắt buộc'){
                                                $("#email-error").hide();
                                            } else {
                                                document.getElementById("email-error").textContent = "Email là bắt buộc";
                                            }
                                            return false;
                                    }
                                };

                                function checkphone(){
                                    $("#phone-error").attr("style",false);
                                    var phone_regex = /((09|03|07|08|05)+([0-9]{8})\b)/g;
                                    var mobile = $('#info_phone').val();
                                    if(mobile !==''){
                                        if (phone_regex.test(mobile) == false) 
                                        {
                                            document.getElementById("phone-error").textContent = "Số điện thoại không đúng định dạng";
                                            return false;
                                            
                                        }else{
                                            document.getElementById("phone-error").textContent = '';
                                            return true;
                                        }
                                    }else{
                                        if(document.getElementById("info_phone-error").textContent = 'Số điện thoại không được bỏ trống'){
                                            $("#phone-error").hide();
                                        } else {
                                            document.getElementById("phone-error").textContent = "Số điện thoại không được bỏ trống";
                                        }
                                        return false;
                                    }
                                };

                            </script>
                        </div>
                <%}%> 
        </div>


        <script>
            $(document).ready(function(){
                $("#hidden").hide();
                $("#username").on("click",function(){
                    $("#hidden").show();
                    $("#bottom-field").css("filter","blur(1px)");
                    $("#submenu").css("filter","blur(1px)");
                    $("#logo").css("filter","blur(1px)");
                    $("#search-bar").css("filter","blur(1px)");
                });

                $("#btn_close").on("click",function(){
                    $("#hidden").hide();
                    $("#bottom-field").css("filter","blur(0)");
                    $("#submenu").css("filter","blur(0)");
                    $("#logo").css("filter","blur(0)");
                    $("#search-bar").css("filter","blur(0)");
                });

                $("#user_menu li").on("click",function(){
                    $("#user_menu li").removeClass("user_active").addClass("user_inactive");
                    $(this).addClass("user_active").removeClass("user_inactive");
                });

                $("#show_info").on("click",function(){
                    $("#info").show();
                    $("#change_pass").hide();
                });
                $("#show_pass_change").on("click",function(){
                    $("#change_pass").show();
                    $("#info").hide();
                });

               
            });

         
        </script>

        <script>        //xóa giỏ hàng khi đăng xuất
            function sign_out(){
                localStorage.removeItem('cart');
            }
        </script>

</body>

</html>
    