<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/admin_css/admin_transact.css">
    <title> LapCity: Quản lí giao dịch </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  
                <%# menu %> 
    <div id="menu">
        <%- include('admin_menu'); -%>
    </div>
  
    <%# content %>  

    <div id="display-content">

        <div id="transact_menu">
            <ul>
                <li id="new" onclick="active('new')"> 
                    <a href="/admin/transact/new" style="text-decoration: none;" >
                        <span> GD mới </span>
                    </a>
                </li>
                <li id="confirm" onclick="active('confirm')"> 
                    <a href="/admin/transact/delivering" style="text-decoration: none;" >
                        <span> Đang giao hàng </span>
                    </a>
                </li>
                <li id="complete" onclick="active('complete')"> 
                    <a href="/admin/transact/complete" style="text-decoration: none;" >
                        <span> GD hoàn tất </span>
                    </a>
                </li>
                <li id="cancel" onclick="active('cancel')"> 
                    <a href="/admin/transact/cancel" style="text-decoration: none;" >
                        <span> GD bị hủy </span>
                    </a>
                </li>
            </ul>

            <script>    
                function active(transact){
                   localStorage.setItem('active', transact);
                }
                
                var id =   "#"+ localStorage.getItem('active');
                $(id).addClass('active');
    
            </script>
    
        </div>
       
        <div id="list_transact">
            <ul id="transact">
                <% for(let i=0; i<transact.length; i++) { %>
                   
                    
                    <li class="order_row" >
                        <% if(transact[i].order_status == "Đang giao hàng" ){ %>
                            <form action="/admin/transact/transact_cancel" method="POST" style="width: fit-content; float: right">
                                <input type="hidden" name="order_id" value="<%=transact[i].order_id%>">
                                <button class="btn_confirm" style="background-color: rgb(139, 192, 194); border-radius: 10px;">Hủy đơn hàng</button>
                            </form>
                        <% } %> 
                        <table>
                            <tr>
                                <td style="width: 20%;" class="label"> Mã đơn hàng: </td>
                                <td style="width: 80%;"> <%- transact[i].order_id _%> </td>
                            </tr>
                                <tr>
                                    <td  class="label"> Mã khách hàng:</td>
                                    <td> <%- transact[i].user_id _%> </td>
                                </tr>
                                    <tr>
                                        <td  class="label"> Thời gian đặt hàng:</td>
                                        <td> <%- transact[i].orderdate _%> </td>
                                    </tr>
                                    <tr>
                                        <% if(transact[i].order_status == "giao dịch bị hủy"){ %>
                                            <td  class="label"> Thời gian hủy:</td>
                                        <% } else if (transact[i].order_status.toLowerCase() == "giao dịch hoàn tất"){%>
                                            <td  class="label"> Thời gian hoàn tất:</td>
                                        <% } else {%>
                                            <td  class="label"> Thời gian xác nhận:</td>
                                        <% } %> 
                                       
                                        <td> <%- transact[i].finishdate _%> </td>
                                    </tr>
                                        <tr>
                                            <td  class="label"> Họ tên:</td>
                                            <td> <%- transact[i].fullname _%> </td>
                                        </tr>
                                            <tr>
                                                <td class="label"> Số điện thoại:</td>
                                                <td> <%-"0"+ transact[i].phone _%> </td>
                                            </tr>
                                    <tr>
                                        <td class="label"> Email:</td>
                                        <td> <%- transact[i].email _%> </td>
                                    </tr>
                                    <tr>
                                        <td class="label"> Địa chỉ:</td>
                                        <td> <%- transact[i].address _%> </td>
                                    </tr>

                                    <tr>
                                        <th>Chi tiết sản phẩm</th>
                                        <td>
                                            <% for(let j = 0; j< transact_item.length; j++){ %> 
                                                <% if(transact_item[j].order_id == transact[i].order_id){ %>
                                                    <tr>
                                                        <td style="width: 20%; font-weight: bold; color: tomato; text-align: center;">
                                                            <% for(let z= 0 ; z <product_info.length; z++){ %>
                                                                <% if(product_info[z].ma_sku == transact_item[j].ma_may){ %>
                                                                    <%- product_info[z].brand_name + " "_%> <%- product_info[z].serie _%> <br>
                                                                    <% break; %> 
                                                                <% } %>  
                                                            <% } %>  
                                                            (<%- transact_item[j].ma_may_%>)</td>
                                                        </td>
                                                        <td style="padding-left:0 ;">
                                                            <table style="border-radius: 0; margin: 0; border: none; width: 100.5%; text-align: center;">
                                                                <tr>
                                                                    <th>ID máy</th>
                                                                    <th>Giá</th>
                                                                    <th>Giảm giá</th>
                                                                    <th>Tạm tính</th>
                                                                </tr>

                                                                <% for(let z = 0; z< item_info.length; z++){ %> 
                                                                    <% if(item_info[z].id == transact_item[j].id){ %>
                                                                            <tr>
                                                                                <td style="width: 25%;">
                                                                                    <%=item_info[z].product_id%>
                                                                                </td>
                                                                                <td style="width: 25%; color: tomato;"><%=(item_info[z].price_per_1).toLocaleString()%></td>
                                                                                <td style="width: 25%;" 
                                                                                    title=" <%for(let k = 0; k < event.length; k++ ){%>
                                                                                                <% if(event[k].event_id == item_info[z].event_id) {%>
                                                                                                    <%=event[k].title%>
                                                                                                    <% break; %>
                                                                                                <% } %>  
                                                                                            <% } %>  ">
                                                                                    <%=(item_info[z].discount_from_event).toLocaleString()%>
                                                                                    <img src="Resources/Icon/question.svg" height="12px" style = "margin-top: -20px; opacity: 70%">
                                                                                </td>

                                                                                <td style="width: 25%; color: tomato;"><%=(item_info[z].price_per_1 - item_info[z].discount_from_event).toLocaleString() %></td>
                                                                            </tr>
                                                                    <% } %>
                                                                <% } %> 
                                                            </table>
                                                        </td>
                                                    </tr>
                                                <% } %>  
                                            <% } %> 
                                        </td>
                                    </tr>
                           
                                    <tr>
                                        <td class="label"> Tổng tiền:</td>
                                        <td style="color: tomato;"> <%- transact[i].total_price.toLocaleString() _%> &ensp;đồng</td>
                                    </tr>
                                    <tr>
                                        <td class="label"> Ghi chú:</td>
                                        <td> <%- transact[i].note _%></td>
                                    </tr>
                        </table>
                
                        <% if(transact[i].order_status.toLowerCase() == "đang giao hàng" ){ %>
                            <div style="width: fit-content; margin: auto; ">
                                <form action="/admin/transact/delivering" method="POST">
                                    <% for(let j = 0; j< transact_item.length; j++){ %> 
                                        <% if(transact_item[j].order_id == transact[i].order_id){ %>
                                            <input type="hidden" name="orderitem_id" value="<%-transact_item[j].id_%>">
                                        <% } %> 
                                    <% } %> 
                                    <input type="hidden" name="order_id" value="<%-transact[i].order_id_%> ">
                                    <button class="btn_confirm"> Xác nhận đã giao hàng</button>
                                </form>
                            </div>
                        <% } %> 
                   
                    </li>
                
                <% } %>  
            </ul>
        </div>
 

    </div>
              
</body>
</html>