<!DOCTYPE html>
<html lang="vie">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="CSS/project.css">
    <link rel="stylesheet" type="text/css" href="CSS/event_list_display.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title> <%=title%> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <!-- Phần hình nền, menu-->
        <div id="top-field" class="top-field">
            <div id="menu-bar"> 
               
                <ul id="submenu">
                    <li> <a href="/" title="Trang chủ"> Trang chủ</a> </li>
                    <li> <a href="/about_us" title="Giới thiệu"> Giới thiệu</a> </li>
                    <li> <a style=" text-decoration: underline; color: rosybrown;" href="/event" title="Khuyến mãi"> Khuyến mãi</a> </li>
                    <li> <a href="/contact" title="Liên hệ"> Liên hệ</a> </li>
                </ul>
        


                <div id="sign-in" > 
                    <%- include('module/user_info'); -%>
                </div> 
                 
            </div>

                    <div id="logo"> LapCity</div>

                    <div id="search-bar">
                        <form action="/search" method="GET">
                            <button></button>
                            <input type="text" placeholder="Tìm kiếm..." name="keyword">
                        </form>
                    </div>
          

        </div> 
<!--Hết phần hình nền menu-->

<!-- phần hiển thị nội dung và phần chân trang-->
        <div id="bottom-field" class="bottom-container">

            <div id="content-field" class="content-field-container">

                <div id="top-bar" class="top-bar-container">
                    <%- include('module/top_bar'); -%>
                </div>
             
                <div id="display-content">     <!-- phần hiển thị nội dung-->
                    <ul>     
                        <% for(var i=0; i<event.length; i++) {%> 
                            <li>
                                <div id="status"> <%- event[i].status.toUpperCase() %> (<%=event[i].date_start%> đến <%=event[i].date_end%>) </div>

                                <div id="khuyen_mai"> 
                                    <div id="image">
                                        <div>
                                            <img src="upload/event_images/<%- event[i].img  _%> ">
                                        </div>
                                    </div>
                                    
                                    <div id="khuyenmai_info">
                                        <div class="tooltip">
                                            <div class="tooltip-content">
                                                Click "View more" để xem chi tiết khuyễn mãi.
                                            </div>
                                        </div>

                                        <div id="title"> <%- event[i].title.toUpperCase()  _%></div>
                                        <div id="content"><%- event[i].short_content _%></div>
                                        <div id="viewmore"> <a href="/event/<%-event[i].url_%>" > View more >> </a> </div>
                                    </div>
                                </div>
                            </li >
                        <% } %> 
                    </ul>
                </div>
                
            </div>
            
            <!-- hết phần hiển thị nội dung-->

            <!--liên kết đến các trang facebook, instagram...-->
            <div id="follow-us" > 
                <%- include('module/follow_us'); -%>
            </div>

            <!--hết phần liên kết đến các trang facebook, instagram...-->

            <!--Phần footer để hiện thị địa chỉ của hàng, hotline ....-->

            <div id="footer" class="footer-container">
                <%- include('module/footer'); -%>
            </div>


        </div>
   
</body>
</html>