<!DOCTYPE html>
<html lang="vie">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="CSS/project.css">
    <link rel="stylesheet" type="text/css" href="CSS/event_list_display.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title> <%=title%> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <!-- Phần hình nền, menu-->
        <div id="top-field" class="top-field">
            <div id="menu-bar"> 
               
                <ul id="submenu">
                    <li> <a href="/" title="Trang chủ"> Trang chủ</a> </li>
                    <li> <a href="/about_us" title="Giới thiệu"> Giới thiệu</a> </li>
                    <li> <a style=" text-decoration: underline; color: rosybrown;" href="/event" title="Khuyến mãi"> Khuyến mãi</a> </li>
                    <li> <a href="/contact" title="Liên hệ"> Liên hệ</a> </li>
                </ul>
        


                <div id="sign-in" > 
                    <%- include('module/user_info'); -%>
                </div> 
                 
            </div>

                    <div id="logo"> LapCity</div>

                    <div id="search-bar">
                        <form action="/search" method="GET">
                            <button></button>
                            <input type="text" placeholder="Tìm kiếm..." name="keyword">
                        </form>
                    </div>
          

        </div> 
<!--Hết phần hình nền menu-->

<!-- phần hiển thị nội dung và phần chân trang-->
        <div id="bottom-field" class="bottom-container">

            <div id="content-field" class="content-field-container">

                <div id="top-bar" class="top-bar-container">

                    <div id="list_brand">
                        <ul>
                            <% for(var i=0; i<menu.length;i++) { %> 
                                <li id="<%- menu[i].brand_name _%>" onclick="active('<%- menu[i].brand_name _%>')"> 
                                    <a href="/product/<%- menu[i].brand_name%>" style="text-decoration: none;" >
                                        <span> <%= menu[i].brand_name %> </span>
                                    </a>
                                    <ul class="sub_menu">
                                        <% for(var j=0; j<serie.length; j++) { %> 
                                          <%if (serie[j].brand_name == menu[i].brand_name) { %>
                                            <a href="/product/<%- serie[j].brand_name%>/<%- serie[j].serie%>"> <li> <%= serie[j].serie%></li> </a> 
                                          <%}%>
                                        <% } %>
                                    </ul>    
                                </li>
                            <% } %> 
                        </ul>
            
                        <script>
            
                            function active(brand_name){
                               localStorage.setItem('active', brand_name);
                            }
                         
                        </script>
            
                        <script>
            
                            //hiển thị submenu  
                            $(".sub_menu").hide();           
                            $(document).ready(function () {
                                $("#list_brand li").hover(function () {
                                        $(this).children("ul.sub_menu").fadeIn({duration:200});
                                    }, function () {
                                        $(this).children("ul.sub_menu").fadeOut({duration:200});
                                    });
                                    });
                        </script>
            
                    </div>
                
                     <%#filter%>
                     <div id="filter"> 
                        <%- include('module/filter'); -%>
                    </div>
    

                    <!--Giỏ hàng-->
    
                    <div id="shopping-cart">        <!--Giỏ hàng-->
                        <a href="/shopping">
                            <div>
                                <img src="/Resources/Icon/shopping-cart.png">
                            </div>
                        </a>
                        <p id="cart-num"> </p>
                    </div>
                    
                    <script>
                        var array = JSON.parse(window.localStorage.getItem('cart')) || []; 
                        var num = array.length;
                        $("#cart-num").text(num.toString());
                    </script>
    
                    <div id="page-name">   
                        <p> <%= pagename %> </p>
                    </div>
                   
                </div>
             
                <div id="display-content">     <!-- phần hiển thị nội dung-->
                    <ul>     
                        <% for(var i=0; i<event.length; i++) {%> 
                            <li>
                                <div id="status"> <%- event[i].status.toUpperCase() %> (<%=event[i].date_start%> đến <%=event[i].date_end%>) </div>

                                <div id="khuyen_mai"> 
                                    <div id="image">
                                        <div>
                                            <img src="upload/images/<%- event[i].img  _%> ">
                                        </div>
                                    </div>
                                    
                                    <div id="khuyenmai_info">
                                        <div class="tooltip">
                                            <div class="tooltip-content">
                                                Click "View more" để xem chi tiết khuyễn mãi.
                                            </div>
                                        </div>

                                        <div id="title"> <%- event[i].title.toUpperCase()  _%></div>
                                        <div id="content"><%- event[i].short_content _%></div>
                                        <div id="viewmore"> <a href="/event/<%-event[i].url_%>" > View more >> </a> </div>
                                    </div>
                                </div>
                            </li >
                        <% } %> 
                    </ul>
                </div>
                
            </div>
            
            <!-- hết phần hiển thị nội dung-->

            <!--liên kết đến các trang facebook, instagram...-->
            <div id="follow-us" > 
               
                <ul>

                    <li> Follow us:</li>
                    <li><a href="http://www.facebook.com" target="blank">
                        <img src="Resources/Icon/facebook.png" alt="facebook" width="25" height="25">
                        </a>
                    </li>
                    <li><a href="http://www.instagram.com" target="blank">
                        <img src="Resources/Icon/instagram.png" alt="instagram" width="25" height="25">
                        </a>
                    </li>
                    <li><a href="http://www.twitter.com" target="blank">
                        <img src="Resources/Icon/twitter.png" alt="twitter" width="25" height="25">
                        </a>
                    </li>
                  
                </ul>
                

                    
               
               
            </div>

            <!--hết phần liên kết đến các trang facebook, instagram...-->

            <!--Phần footer để hiện thị địa chỉ của hàng, hotline ....-->

            <div id="footer" class="footer-container">

                <div id="left">

                
                    <h2>
                        CÔNG TY TNHH TM DV VVT <br>
                        MST: 150577 <br>
                        Ngày thành lập: 07/07/2020

                    </h2>
                
                  
                    <h3>Danh sách cửa hàng:</h3>
                   

                    <ul>
                        <li>
                            <a href="https://goo.gl/maps/5WiwroZAmKAwU4jE9" target="blank">
                                <img src="Resources/Icon/gps.svg" height="30px" width="30px">
                                <p>104, ấp Gò Sao, xã Tân Phú, huyện Đức Hòa, tỉnh Long An.</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="Resources/Icon/gps.svg" height="30px" width="30px">
                                <p>104, ấp Gò Sao, xã Tân Phú, huyện Đức Hòa, tỉnh Long An.</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="Resources/Icon/gps.svg" height="30px" width="30px">
                                <p>104, ấp Gò Sao, xã Tân Phú, huyện Đức Hòa, tỉnh Long An.</p>
                            </a>
                        </li>

                    </ul>

                    <h3 id="contact">
                        <a href="tel:+84981234567">Hotline: 0981234567</a> <br>
                        <a href="mailto:17521184@gm.uit.edu.vn" target="_top">Mail: 17521184@gm.uit.edu.vn</a></h3>
                </div>

                <div id="middle">

                    <h2>Hỗ trợ khách hàng</h2>
                    <ul>
                        <li><a href="/tragop" title="Trả góp">Chính sách trả góp</a> </li>
                        <li><a href="/thanhtoan" title="Thanh toán">Phương thức thanh toán</a> </li>
                        <li><a href="/baohanh" title=" Bảo hành">Chính sách bảo hành</a> </li>
                        <li><a href="/vanchuyen" title="Vận chuyển">Chính sách vận chuyển</a> </li>
                    </ul>
                </div>

                <div id="right">

                    <div id="logo"> LapCity</div>
                    <div id="cong-thuong">
                            <a href="https://www.moit.gov.vn/" target="blank">
                                 <img src="Resources/Icon/bo-cong-thuong.png" width="200" height="auto">
                            </a>
                    </div>
                </div>

            </div>


        </div>
   
</body>
</html>