<!DOCTYPE html>
<html lang="vie">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="CSS/project.css">
    <link rel="stylesheet" type="text/css" href="CSS/event_detail_display.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title> <%= title %> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <!-- Phần hình nền, menu-->
    <div id="top-field" class="top-field">
        <%- include('module/topfield'); -%>
    </div> 
<!--Hết phần hình nền menu-->

<!-- phần hiển thị nội dung và phần chân trang-->
        <div id="bottom-field" class="bottom-container">


            
            <div id="content-field" class="content-field-container">

                <div id="top-bar" class="top-bar-container">
                    <%- include('module/top_bar'); -%>
                </div>
             

                <div id="display-content">     <!-- phần hiển thị nội dung-->

                    <div id="tieu_de">

                        <div id="hinh">
                            <img src="upload/event_images/<%-event.img_%>">
                        </div>
                        
                        <h2 id="ten_tieu_de"> "<%= event.title.toUpperCase() %>"" </h2>
                        <h2>  (<%= event.date_start%> đến <%=event.date_end%>)  </h2>
                    </div>
                    
                    <div id="noi_dung">
                        <%-event.content;%>
                    </div>
                   
                    <div id="khac">
                        <h2> Tin tức khuyến mại</h2>

                        <div>
                            <ul >
                                <% for (var i =0; i< moreevent.length; i++) {%> 
                                     <li class=" khuyenmai_slide w3-center w3-animate-left">
                                         <a href="/event/<%- moreevent[i].url _%> " style="text-decoration: none;">
                                            <div id="image">
                                                <img src="upload/event_images/<%- moreevent[i].img  _%> ">
                                            </div>
                                                    
                                            <div id="khuyenmai_info">
                                                <h2>  "<%- moreevent[i].title.toUpperCase()  _%>"  </h2>
                                                <h2>  (<%= moreevent[i].date_start%> đến <%= moreevent[i].date_end%>)  </h2>
                                            </div>
                                        </a>
                                       
                                    </li >
                                <% } %>     
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- hết phần hiển thị nội dung-->

            <!--liên kết đến các trang facebook, instagram...-->
            <div id="follow-us" > 
                <%- include('module/follow_us'); -%>
            </div>

            <!--hết phần liên kết đến các trang facebook, instagram...-->

            <!--Phần footer để hiện thị địa chỉ của hàng, hotline ....-->

            <div id="footer" class="footer-container">
                <%- include('module/footer'); -%>
            </div>
        </div>
</body>
</html>