<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/project.css">
    <link rel="stylesheet" type="text/css" href="CSS/home_display.css">
    <title> <%= title%> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <!-- Phần hình nền, menu-->
    <div id="top-field" class="top-field">
        <%- include('module/topfield'); -%>
    </div> 
<!--Hết phần hình nền menu-->

<!-- phần hiển thị nội dung và phần chân trang-->
        <div id="bottom-field" class="bottom-container">

            <div id="content-field" class="content-field-container">

                <div id="top-bar" class="top-bar-container">
                    <%- include('module/top_bar'); -%>
                </div>
                <script>
                    localStorage.setItem('active', "");
                </script>



                <div id="display-content">    
                    
                    <div class="slide_banner">
                        <% for(let i =0; i<event.length; i++){ %>
                            <% if((event[i].banner == "true") && (i % 2 == 0 ) ){ %>
                                <a href="/event/<%=event[i].url%> ">
                                    <img class="bannerSlides w3-center w3-animate-right" height="300px" width="700px" src="upload/event_images/<%=event[i].img%> ">
                                </a>
                            <% } else if((event[i].banner == "true") && (i % 2 !== 0 )){ %>
                                <a href="/event/<%=event[i].url%> ">
                                    <img class="bannerSlides w3-center w3-animate-left" height="300px" width="700px" src="upload/event_images/<%=event[i].img%> ">
                                </a>
                            <% } %>   
                        <% } %> 
                      </div> 
                      
                      <script>    
                        // script slide show
                       var banner_index = 0;
                       banner();
                       
                       function banner() {
                           var i;
                           var x = document.getElementsByClassName("bannerSlides");
                           for (i = 0; i < x.length; i++) {
                           x[i].style.display = "none";  
                           }
                           banner_index ++;
                           if (banner_index  > x.length) {banner_index  = 1}    
                           x[banner_index -1].style.display = "block";  
                           setTimeout(banner, 3000); // Change image every 2 seconds
                       }
                   </script>
                        

                <% for (let i = 0; i< catalog.length; i++){ %>
                    <div id="gaming" class="show_laptop">
                        <h2> Laptop <%= catalog[i].name%> </h2>
                        <div>
                            <ul id=" list" >
                                <% for (var j=0; j<product.length; j++) { %>
                                    <% if(product[j].catalog_id == catalog[i].catalog_id){ %>

                                        <li class=" w3-center w3-animate-right">
                                            <a href="/product/<%-product[j].brand_name_%>/<%-product[j].serie_%>/<%-product[j].ma_sku_%>"
                                                onclick="active('<%-product[j].brand_name_%>')">
                                                <script>
                                                    function active(brand_name){
                                                    localStorage.setItem('active', brand_name);
                                                 }
                                                </script>
                                                <% var cpu = product[j].cpu.split(" ") %>
                                                <% cpu = cpu[2] + " " + cpu[3]  %>  
                                                <% var gpu = product[j].gpu.split(" ") %>
                                                <% gpu = gpu[0] + " " + gpu[2] + " " + gpu[3]  %>  
                                                <% var ram = product[j].ram.split(" ") %>
                                                <% ram = ram[0] + " " + ram[1]%>
                                                <% var hdd = product[j].hdd.split(" ") %>
                                                <% hdd = hdd[0] + " HDD"%>
                                                <% var ssd = product[j].ssd.split(" ") %>
                                                <% ssd = ssd[0] + " SSD"%>
                                                
                                                <img src="upload/images/<%= product[j].img %>">
                                                <p id="name" style="font-weight: bold; color: tomato;"> <%= product[j].brand_name%> <%-product[j].serie%> <%= product[j].ma_sku %> </p>
                                                <p id="gia"><span style="color: tomato; margin: 0px ; font-weight: bold;"><%= product[j].discount_price.toLocaleString() %> đ</span></p>
                                                <table style="margin: auto; margin-top: -10px;">
                                                    <tr>
                                                        <td style="width: 30%;">CPU:</td>
                                                        <td style="text-align: left;"><%=cpu %></td>
                                                    </tr>
                                                    <tr>
                                                        <td>GPU:</td>
                                                        <td><%=gpu %></td>
                                                    </tr>
                                                    <tr>
                                                        <td>RAM:</td>
                                                        <td style="text-align: left;"><%=ram %></td>
                                                    </tr>
                                                </table>
                                            </a> 
                                        </li >
                                    <% } %>  
                                <% } %> 
                               
                            </ul>
                        </div>
                        
                    </div>
                <% } %>         
                       
                        <div id="event">     <!-- phần hiển thị nội dung-->
                            <ul>     
                                <% for(var i=0; i<event.length; i++) {%> 
                                    <li class="khuyenmai_slide ">
                                        <div id="status"> SỰ KIỆN <%- event[i].status.toUpperCase() %> (<%=event[i].date_start%> đến <%=event[i].date_end%>) </div>

                                        <div id="khuyen_mai"> 
                                            <div id="image" class="w3-animate-right">
                                                <div>
                                                    <img src="upload/event_images/<%- event[i].img  _%> ">
                                                </div>
                                            </div>
                                            
                                            <div id="khuyenmai_info" class="w3-animate-left">
                                                <div id="title"> <%- event[i].title.toUpperCase()  _%></div>
                                                <div id="content"><%- event[i].short_content _%></div>
                                                <div id="viewmore"> <a href="/event/<%-event[i].url_%>" > View more >> </a> </div>
                                            </div>
                                        </div>
                                    </li >
                                <% } %> 
                            </ul>
                        </div>


                        <script>
                        var khuyen_mai = 0;
                        khuyenmai();
                        
                        function khuyenmai() {
                            var i;
                            var x = document.getElementsByClassName("khuyenmai_slide");
                            for (i = 0; i < x.length; i++) {
                            x[i].style.display = "none";  
                            }
                            khuyen_mai ++;
                            if (khuyen_mai  > x.length) {khuyen_mai  = 1}    
                            x[khuyen_mai -1].style.display = "flex";  
                            setTimeout(khuyenmai, 3000); // Change image every 2 seconds
                        }
                    </script>
                </div>
              
            </div>
            
            <!-- hết phần hiển thị nội dung-->

            <!--liên kết đến các trang facebook, instagram...-->
            <div id="follow-us" > 
                <%- include('module/follow_us'); -%>
            </div>

            <div id="footer" class="footer-container">

                <%- include('module/footer'); -%>
            </div>
        </div>
</body>
</html>