<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="CSS/project.css">
    <link rel="stylesheet" type="text/css" href="CSS/product_detail_display.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      
    <title> <%=title%> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <!-- Phần hình nền, menu-->
    <div id="top-field" class="top-field">
      <%- include('module/topfield'); -%>
    </div> 
<!--Hết phần hình nền menu-->

<!-- phần hiển thị nội dung và phần chân trang-->
        <div id="bottom-field" class="bottom-container">
            
            <div id="content-field" class="content-field-container">
              
              <div id="top-bar" class="top-bar-container">
                <%- include('module/top_bar'); -%>

                <script>
                   var id = "#" +  localStorage.getItem('active');
                    $(id).addClass("active");

                    var page = "#" +  localStorage.getItem('page_active');
                    $(page).removeAttr("style");
                </script>
            </div>

                <div id="display-content">     <!-- phần hiển thị nội dung-->

                   <div class="price-gift">     <!--hình ảnh giá bán, quà tặng-->

                        <div id="picture" class=" w3-animate-top">
                            <div>
                                <img src="upload/images/<%-product[0].img _%>" >
                            </div>
                            
                        </div>
                        <div id="price-field" class=" w3-animate-right">

                            <h2 id="ma_sku"> #<%= product[0].ma_sku %></h2>

                            <div class="price">
                                <p id="price"> #Giá niêm yết:</p>
                                <p id="price-value"><%= product[0].price.toLocaleString() %> đ</p>
                                <p id="dis-price"> #Giá khuyến mãi:</p>
                                <p id="dis-price-value"><%= product[0].discount_price.toLocaleString() %> đ</p>
                            </div>

                             <button id="cartAdd" >Thêm vào giỏ</button>
                    </div>

                    <div id="gift" class=" w3-animate-left">
                        <h2> Quà tặng từ nhà sản xuất</h2>
                        <div>
                            <p id="1"> - Balo Acer SUV trị giá 1.500.000đ</p>   
                            <p id="2"> - Gói bảo hành Acer 3S1</p>   
                            <p id="3"> - Khuyến mãi Acer Nitro 5: Code Game PUBG và áo Intel trong game</p>   
                            <p id="4"> </p> 
                        </div>
                                        
                      </div>
                    <div id="ex-gift" class=" w3-animate-bottom">
                        <h2> Quà tặng từ cửa hàng</h2>
                        <div>
                            <p id="1"> - Chuột Logitech G102 RGB trị giá 400.000đ</p>   
                            <p id="2"> - Mua kèm Office 365 Business chỉ còn 650.000đ. (Giá thị trường: 3.350.000đ)</p>    
                            <p id="3"> - Túi chống sốc Laptop</p>        
                            <p id="4"> - Bộ vệ sinh Laptop</p>       
                        </div>
                        <div>
                        
                            <% if(event) {%>
                                <h2> Event:</h2>
                                    <p id="event" style="display: none;"><%=event.event_id%>_/<%=event.discount%>_/<%=event.title%> </p>
                                    <a href="/event/<%=event.url%>" style="text-decoration: none;"> <li>- <%=event.title.toUpperCase() %>  </li></a>
                            <%} else {%>
                                <p id="event" style="display: none;"></p>
                            <% } %>   
                        </div>
                    </div>
                   </div>

                   <div id="product-conf">        <!--cấu hình sản phẩm-->

                    <h2> Thông số cấu hình</h2>

                    <table id="configuration">
                        <tr >
                          <td class="lable">Thương hiệu</td>
                          <td id="brand" class="value"><%- product[0].brand_name _%></td>
                        </tr>
                        <tr>
                            <td class="lable">Serie</td>
                            <td  id="serie" class="value"><%- product[0].serie_%></td>
                          </tr>

                          <tr >
                            <td class="lable">Mã máy</td>
                            <td id="ma_may" class="value"><%- product[0].ma_sku _%></td>
                          </tr>

                          <tr >
                            <td class="lable">CPU</td>
                            <td id="cpu"class="value"><%= product[0].cpu %></td>
                          </tr>

                          <tr>
                            <td class="lable">GPU</td>
                            <td  id="gpu" class="value"><%- product[0].gpu _%></td>
                          </tr>

                          <tr >
                            <td class="lable">RAM</td>
                            <td id="ram" class="value"><%= product[0].ram %></td>
                          </tr>

                          <tr>
                            <td class="lable">SSD</td>
                            <td  id="ssd" class="value"><%= product[0].ssd %></td>
                          </tr>

                          <tr >
                            <td class="lable">HDD</td>
                            <td id="hdd" class="value"><%= product[0].hdd %></td>
                          </tr>
                          <tr>
                            <td class="lable">Màn hình</td>
                            <td id="monitor"  class="value"><%= product[0].monitor %></td>
                          </tr>
                          <tr >
                            <td class="lable">Webcam</td>
                            <td class="value"><%= product[0].webcam %></td>
                          </tr>
                          <tr id="interface">
                            <td class="lable">Cổng kết nối</td>
                            <td id="webcam" class="value"><%= product[0].interface %></td>
                          </tr>
                          <tr >
                            <td class="lable">bluetooth</td>
                            <td id="bluetooth" class="value"><%= product[0].bluetooth %></td>
                          </tr>
                          <tr >
                            <td class="lable">Kết nối</td>
                            <td id="connect" class="value"><%= product[0].connect %></td>
                          </tr>
                          <tr >
                            <td class="lable">Hệ điều hành</td>
                            <td id="os" class="value"><%= product[0].os%></td>
                          </tr>
                          <tr>
                            <td class="lable">Pin</td>
                            <td id="pin" class="value"><%= product[0].pin%></td>
                          </tr>
                          <tr>
                            <td class="lable">Màu sắc</td>
                            <td id="color" class="value"><%= product[0].color%></td>
                          </tr>
                          <tr>
                            <td class="lable">Trọng lượng</td>
                            <td  id="weight" class="value"><%= product[0].weight%></td>
                          </tr>
                          <tr>
                            <td class="lable">Kích thước</td>
                            <td id="size" class="value"><%= product[0].size %></td>
                          </tr>
                      </table>
                  
                      <p id="discount_price" style="display:none"><%- product[0].discount_price_%></p>
                      <%# script thêm vào giỏ hàng%>
                      <script>

                        var img = $("#picture").find('img').attr('src');
                        var brand = document.getElementById('brand').textContent;
                        var serie = document.getElementById('serie').textContent;
                        var ma_may = document.getElementById('ma_may').textContent;
                        var cpu = document.getElementById('cpu').textContent;
                        var gpu = document.getElementById('gpu').textContent;
                        var ram = document.getElementById('ram').textContent;
                        var ssd = document.getElementById('ssd').textContent;
                        var hdd = document.getElementById('hdd').textContent;
                        var price = document.getElementById('discount_price').textContent;
                        var quntity=1;
                        var conlai = '<%=conlai%>';

                        var event = document.getElementById("event").textContent;
                       
                        var item = {
                            'img':img,
                            'brand': brand,
                            'serie':serie,
                            'ma_may':ma_may,
                            'cpu':cpu,
                            'gpu':gpu,
                            'ram':ram,
                            'ssd': ssd,
                            'hdd': hdd,
                            'price':price,
                            'quantity': quntity,
                            'conlai': conlai,
                            'event': event
                        }
                        var array = JSON.parse(window.localStorage.getItem('cart')) || []; 
                        var num = array.length;
                        $("#cart-num").text(num.toString());

                        $("#cartAdd").click(function(){
                           
                            if(array.length === 0){         // khi chưa có sản phẩm thì thêm vào
                                array.push(item);
                            } else{
                                for(let i= 0; i< array.length; i++){        //khi có rồi thì kiểm tra xem có bị trùng không
                                    if(array[i].ma_may === item.ma_may){
                                        alert('Sản phẩm đã có trong giỏ hàng');   //nếu có thì return
                                        return;
                                    } 
                                }
                                array.push(item);           //không trùng thì add vào array và thêm vào local storage
                            }
                            window.localStorage.setItem("cart", JSON.stringify(array));
                            num +=1;
                            $("#cart-num").text(num.toString());
                            alert('Thêm vào giỏ thành công');
                        });
                      </script>

                   </div>


                   <div id="product-khac">   <!--sản phẩm liên quan-->
                    <h2> Sản phẩm liên quan</h2>
                    <div>
                        <ul>
                            <% for(var i=0; i< productSame.length; i++) { %>
                                <li class=" w3-center w3-animate-right">
                                    <a href="/product/<%- productSame[i].brand_name_%>/<%- productSame[i].serie_%>/<%- productSame[i].ma_sku _%>" >
                                        <% var cpu = product[i].cpu.split(" ") %>
                                        <% cpu = cpu[2] + " " + cpu[3]  %>  
                                        <% var gpu = product[i].gpu.split(" ") %>
                                        <% gpu = gpu[0] + " " + gpu[2] + " " + gpu[3]  %>  
                                        <% var ram = product[i].ram.split(" ") %>
                                        <% ram = ram[0] + " " + ram[1]%>
                                        <% var hdd = product[i].hdd.split(" ") %>
                                        <% hdd = hdd[0] + " HDD"%>
                                        <% var ssd = product[i].ssd.split(" ") %>
                                        <% ssd = ssd[0] + " SSD"%>
                                                
                                        <img src="upload/images/<%= product[i].img %>">
                                        <p id="name" style="font-weight: bold; color: tomato;"> <%= product[i].brand_name%> <%-product[i].serie%> <%= product[i].ma_sku %> </p>
                                        <p id="gia"><span style="color: tomato; margin: 0px ; font-weight: bold;"><%= product[i].discount_price.toLocaleString() %> đ</span></p>
                                        <table style="margin: auto; margin-top: -10px;">
                                          <tr>
                                            <td style="width: 30%;">CPU:</td>
                                            <td style="text-align: left;"><%=cpu %></td>
                                          </tr>
                                          <tr>
                                            <td>GPU:</td>
                                              <td><%=gpu %></td>
                                            </tr>
                                            <tr>
                                              <td>RAM:</td>
                                              <td style="text-align: left;"><%=ram %></td>
                                            </tr>
                                          </table>
                                    </a>
                                </li >
                            <% } %> 
                         </ul>    
                    </div>
                </div>
                </div>
            </div>
            <!-- hết phần hiển thị nội dung-->

            <!--liên kết đến các trang facebook, instagram...-->
            <div id="follow-us" > 
                <%- include('module/follow_us'); -%>
            </div>

            <!--hết phần liên kết đến các trang facebook, instagram...-->

            <!--Phần footer để hiện thị địa chỉ của hàng, hotline ....-->

            <div id="footer" class="footer-container">
                <%- include('module/footer'); -%>
                
            </div>
        </div>
</body>
</html>