<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/project.css">
    <link rel="stylesheet" type="text/css" href="CSS/product_list_display.css">
    <title> <%=title%> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <!-- Phần hình nền, menu-->
        <div id="top-field" class="top-field">
            <div id="menu-bar"> 
               
                <ul id="submenu">
                    <li> <a href="/" title="Trang chủ"> Trang chủ</a> </li>
                    <li> <a href="/about_us" title="Giới thiệu"> Giới thiệu</a> </li>
                    <li> <a href="/event" title="Khuyến mãi"> Khuyến mãi</a> </li>
                    <li> <a href="/contact" title="Liên hệ"> Liên hệ</a> </li>
                </ul>
           
               
                <div id="sign-in" > 
                    <%- include('module/user_info'); -%>
                </div> 
                
            </div>

                    <div id="logo"> LapCity</div>

                    <div id="search-bar">
                        <form action="/search" method="GET">
                            <button></button>
                            <input type="text" placeholder="Tìm kiếm..." name="keyword">
                        </form>
                    </div>
          

        </div> 
<!--Hết phần hình nền menu-->

<!-- phần hiển thị nội dung và phần chân trang-->
        <div id="bottom-field" class="bottom-container">

            <div id="content-field" class="content-field-container">

              <div id="top-bar" class="top-bar-container">

                <div id="list_brand">
                    <ul>
                        <% for(var i=0; i<menu.length;i++) { %> 
                            <li id="<%- menu[i].brand_name _%>" onclick="active('<%- menu[i].brand_name _%>')"> 
                                <a href="/product/<%- menu[i].brand_name%>" style="text-decoration: none;" >
                                    <span> <%= menu[i].brand_name %> </span>
                                </a>
                                <ul class="sub_menu">
                                    <% for(var j=0; j<serie.length; j++) { %> 
                                      <%if (serie[j].brand_name == menu[i].brand_name) { %>
                                         <a href="/product/<%- serie[j].brand_name%>/<%- serie[j].serie%>"> <li> <%= serie[j].serie%></li> </a> 
                                      <%}%>
                                    <% } %>
                                </ul>    
                            </li>
                        <% } %> 
                    </ul>
        
                    <script>
                        var brand = "#"+ localStorage.getItem('active');
                        $(brand).addClass('active');
                        function active(brand_name){
                           localStorage.setItem('active', brand_name);
                        }
                    </script>
        
                    <script>
        
                        //hiển thị submenu  
                        $(".sub_menu").hide();           
                        $(document).ready(function () {
                            $("#list_brand li").hover(function () {
                                    $(this).children("ul.sub_menu").fadeIn({duration:200});
                                }, function () {
                                    $(this).children("ul.sub_menu").fadeOut({duration:200});
                                });
                                });
                    </script>
        
                </div>
            
                    <%#filter%>
                    <div id="filter"> 
                        <%- include('module/filter'); -%>
                    </div>
    

                    <!--Giỏ hàng-->
                <div id="shopping-cart">        <!--Giỏ hàng-->
                    <a href="/shopping">
                        <div>
                            <img src="/Resources/Icon/shopping-cart.png">
                        </div>
                    </a>
                    <p id="cart-num"> </p>
                </div>

                <script>
                    var array = JSON.parse(window.localStorage.getItem('cart')) || []; 
                    var num = array.length;
                    $("#cart-num").text(num.toString());
                </script>

                <div id="page-name">   
                    <%  %> 
                    <p><%= pagename %> </p>
                </div>
               
            </div>
         

                <div id="display-content">     <!-- phần hiển thị nội dung-->

                    <%# search massage%>
                    <% if(searchMess !== ""){ %>
                        <div style="box-shadow: 0 0 100px rgb(231, 220, 220); width: fit-content; ;padding: 20px; margin: auto; text-align: center;
                        margin-top: 25px; border-radius: 20px;">
                            <h2 style="color: rgb(223, 112, 112);"><%= searchMess %> </h2>
                        </div>
                        <% } %>  

                    <ul>      <!-- mỗi item gồm ảnh minh họa, giá và thông tin-->
                        <%for(var i=0;i < product.length; i++) { %>
                            <a href="/product/<%= product[i].brand_name%>/<%= product[i].serie%>/<%= product[i].ma_sku %> "> 
                                <li>        
                                    <div id="pic">
                                        <div>
                                        <img src="upload/images/<%= product[i].img %> ">
                                        </div>
                                    </div>
                                    <div id="product-info">
                                        <div class="tooltip">
                                            Click để xem thông tin chi tiết và khuyễn mãi
                                        </div>
                                        <h2> Thông tin sản phẩm</h2>
                                        <table id="basic_config">
                                                <tr id="gia">
                                                    <td class="lable">Giá:</td>
                                                    <td class="value" style="font-weight: bold;"> <%= product[i].discount_price.toLocaleString() %> đ </td>
                                                </tr>
                                                <tr id="brand">
                                                    <td class="lable">Thương hiệu:</td>
                                                    <td class="value" style="color: tomato; font-weight: bold;"> <%= product[i].brand_name %> </td>
                                                </tr>
                                                <tr id="serie">
                                                    <td class="lable">Series:</td>
                                                    <td class="value" style="color: tomato; font-weight: bold;"> <%= product[i].serie %> </td>
                                                </tr>
                                                <tr id="ma_sku">
                                                    <td class="lable">Mã máy:</td>
                                                    <td class="value" style="color: tomato; font-weight: bold;"> <%= product[i].ma_sku %> </td>
                                                </tr>
                                                <tr id="cpu">
                                                    <td class="lable">CPU:</td>
                                                    <td class="value"><%= product[i].cpu %></td>
                                                </tr>
                                                <tr id="gpu">
                                                    <td class="lable">GPU:</td>
                                                    <td class="value"><%= product[i].gpu %></td>
                                                </tr>
                                                <tr id="ram">
                                                    <td class="lable">RAM:</td>
                                                    <td class="value"><%= product[i].ram %></td>
                                                </tr>
                                                <tr id="monitor">
                                                    <td class="lable">Màn hình:</td>
                                                    <td class="value"><%= product[i].monitor %></td>
                                                </tr>
                                        </table>
                                    </div>
                                </li>
                            </a>
                        <% };%>
                        
                    </ul>
                </div>
            </div>
            <!-- hết phần hiển thị nội dung-->
             <!--liên kết đến các trang facebook, instagram...-->
             <div id="follow-us" > 
                <%- include('module/follow_us'); -%>
            </div>

            <!--hết phần liên kết đến các trang facebook, instagram...-->

            <!--Phần footer để hiện thị địa chỉ của hàng, hotline ....-->

            <div id="footer" class="footer-container">
                <%- include('module/footer'); -%>
            </div>
        </div>
   
</body>
</html>