<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="CSS/project.css">
    <link rel="stylesheet" type="text/css" href="CSS/shopping_history.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <title> Giỏ hàng của bạn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <!-- Phần hình nền, menu-->
        <div id="top-field" class="top-field">
            <div id="menu-bar"> 
               
                <ul id="submenu">
                    <li> <a id="home_page" onclick="add_active('home_page')" href="/" title="Trang chủ"> Trang chủ</a> </li>
                    <li> <a id="about_us_page" onclick="add_active('about_us_page')" href="/about_us" title="Giới thiệu"> Giới thiệu</a> </li>
                    <li> <a id="event_page" onclick="add_active('event_page')" href="/event" title="Khuyến mãi"> Khuyến mãi</a> </li>
                    <li> <a id= "contact_page" onclick="add_active('contact_page')" href="/contact" title="Liên hệ"> Liên hệ</a> </li>
                </ul>
                
                <script >
                    function add_active(page){
                       localStorage.setItem('page_active', page);
                    }
                </script>
                <div id="sign-in" > 
                    <%- include('module/user_info'); -%>
                </div> 

                </div>
                        <div id="logo"> LapCity</div>
                <div>
               
            </div>


        </div> 
<!--Hết phần hình nền menu-->

<!-- phần hiển thị nội dung và phần chân trang-->
               

        <div id="bottom-field" class="bottom-container">
            <div style="margin-top:5px">

                <a style="text-decoration: none;" href="/shopping">
                    <button class="cart-menu" id="btn_cart"> Giỏ hàng</button>
                 </a>
                <a style="text-decoration: none;" href="/shopping/history">
                    <button style="margin-left: -5px;" class="cart-menu" id="btn_history"> Lịch sử mua hàng</button> 
                </a>
                <a style="text-decoration: none;" href="/shopping/dealing">
                    <button style="margin-left: -5px;" class="cart-menu" id="btn_dealing"> Đang giao dịch</button>
                </a>
            </div>

                <ul id="history">
                   
                    <% if (user_id == 0 ) {%> 
                        <h2 id="mess"> <%=mess%> </h2>

                        <script>
                            $("#btn_<%-whichBtn_%>").addClass('active');
                        </script>

                    <%}%>

                    <% if (orders.length == 0 && user_id !=0 ) {%> 
                        <h2 id="mess"> <%=mess%> </h2>
                        <script>
                            $("#btn_<%-whichBtn_%>").addClass('active');
                        </script>
                        <div style="width: fit-content; margin: auto;">
                            <a href="/product"><button id="btn_mua_tiep"> Tìm sản phẩm </button></a>
                        </div>
                        
                    <%}%>

                        <% for( let i = 0; i< orders.length; i++){ %>
                        <li>
                            <% if(orders[i].order_status.toLowerCase() !== 'giao dịch hoàn tất') {%>
                                <script>
                                    $("#btn_dealing").addClass('active');
                                </script>
                            <%} else {%>
                                <div style="width: 100%; margin-top: 15px;">
                                    <div id="ex-info" style="color: tomato;  font-family: balootamma2; "> Tình trạng: 
                                        <span style="font-size: 18px; font-weight: bold;"><%= orders[i].order_status%></span>
                                    </div>
                                    <div id="ex-info" style="color: tomato;  font-family: balootamma2; ">
                                        Mã đơn hàng: <span style="font-size: 18px; font-weight: bold;"><%=orders[i].order_id%></span> , Thời gian đặt hàng: 
                                        <span style="font-size: 18px; font-weight: bold;"><%= orders[i].orderdate%></span> 
                                    </div>
                                </div>
                                    <script>
                                        $("#btn_history").addClass('active');
                                    </script>
                                    
                            <% } %>
                        
                            <table id="cart">
                                <% if(orders[i].order_status.toLowerCase() == 'chờ xét duyệt'){ %>    <%# có thể hủy đơn hàng khi chưa xá nhận %> 
                                    <div style="width: 100%; margin-top: 15px;">
                                        <form action="", method="POST">
                                            <input type="hidden" name="orderid" value="<%=orders[i].order_id%>">
                                            <button id="btn_cancel" type="submit"> Hủy đơn hàng</button>
                                            <div id="ex-info" style="color: tomato;  font-family: balootamma2; "> Tình trạng: <span style="font-size: 18px; font-weight: bold;"><%= orders[i].order_status%></span> </div>
                                            <div id="ex-info" style="color: tomato;  font-family: balootamma2; ">
                                                Mã đơn hàng: <span style="font-size: 18px; font-weight: bold;"><%=orders[i].order_id%></span> , Thời gian đặt hàng: 
                                                <span style="font-size: 18px; font-weight: bold;"><%= orders[i].orderdate%></span> 
                                            </div>
                                        </form>
                                       
                                    </div>
                                <% } %> 

                                <% if(orders[i].order_status.toLowerCase() == 'đang giao hàng'){ %>  <%# Không thể hủy dơn hàng khi đã xác nhận %> 
                                    <div style="width: 100%; margin-top: 15px;">
                                        <button id="btn_cancel" class= "dang_giao" type="submit"> 
                                            <span> Hủy đơn hàng </span> 
                                        </button>   
                                        <div id="ex-info" style="color: tomato;  font-family: balootamma2; "> Tình trạng: <span style="font-size: 18px; font-weight: bold;"><%= orders[i].order_status%></span> </div>
                                            <div id="ex-info" style="color: tomato;  font-family: balootamma2; ">
                                                Mã đơn hàng: <span style="font-size: 18px; font-weight: bold;"><%=orders[i].order_id%></span> , Thời gian đặt hàng: 
                                                <span style="font-size: 18px; font-weight: bold;"><%= orders[i].orderdate%></span> 
                                            </div>
                                        <div id="cancel_mess" style="float: right; margin-bottom: 20px; margin-top: -25px; font-weight: balootamma2;">
                                             Đơn hàng đang được vận chuyển. Không thể hủy đơn hàng.</div>
                                    </div>

                                    <script>
                                         $("#cancel_mess").hide();
                                        $(document).ready(function(){
                                            $(".dang_giao").on("click", function(){
                                                $("#cancel_mess").show();
                                            });
                                        });
                                    </script>

                                <% } %> 
                                <tr>
                                    <th > Hình ảnh</th>
                                    <th style="width : 35%;"> Tên sản phẩm </th>
                                    <th style="width : 25%;"> Đơn giá</th>
                                    <th style="width : 20%;"> Số lượng </th>
                                    <th style="width : 15%;"> Thành tiền</th>
                                </tr>
                                    <ul >
                                        <% for( let j = 0; j< item.length; j++){ %>
                                            <% if(orders[i].order_id == item[j].order_id){ %>
                                                <li>
                                                    <tr class = "addItem">
                                                        <td id="pic"> 
                                                            <div style="margin: auto; width: 150px; height: 150px;" > 
                                                                <img src="upload/images/<%-item[j].img_%>" height="100%" width="100%"> 
                                                            </div>
                                                        </td>
                                                        <td id="name">
                                                            <a href="/product/<%-item[j].brand_name_%>/<%-item[j].serie_%>/<%-item[j].ma_may_%>" 
                                                            style="text-decoration: none; color: #4b4b4b;">
                                                                <span style="font-weight: bold; color: tomato;"><%-item[j].brand_name_%></span> | 
                                                                <span style="font-weight: bold; color: tomato;"><%-item[j].serie_%></span> | 
                                                                <span style="font-weight: bold; color: tomato;"><%-item[j].ma_may_%></span> | 
                                                                <%-item[j].cpu_%> | <%-item[j].gpu_%> | <%-item[j].ram_%> | <%-item[j].ssd_%>| <%-item[j].hdd_%>
                                                            </a>  
                                                        </td>
                                                        <td id="price" style=" color: tomato;"> <%-item[j].price.toLocaleString() %> đ</td>
                                                        <td > 
                                                           <span style="color: #6d4343; text-decoration: underline;"> <%-item[j].quantity%> </span>   
                                                        </td>
                                                        <td id="total"  style=" color: tomato;"> 
                                                            <span><%-(item[j].price * item[j].quantity).toLocaleString() %> đ </span>   
                                                            
                                                            <% if(item[j].event_id !== null){ %>
                                                                <br>
                                                                <span class = "temp">(-<%=(item[j].discount * item[j].quantity).toLocaleString()%>) 
                                                                    <img src="Resources/Icon/question.svg" height="12px" style = "position: absolute; opacity: 70%">
                                                                </span> <br class = "clear_${i}">
                                                                <span class = "show_event" style = "position: absolute;width: 150px; background-color: white; border-radius: 10px; margin-top: -5px; margin-left: -75px;">
                                                                    <%for(let z = 0; z < event.length; z++ ){%>
                                                                        <% if(event[z].event_id == item[j].event_id) {%>
                                                                            <p style ="color: tomato;"><%=event[z].title%></p> 
                                                                            <% break; %> 
                                                                        <% } %>  
                                                                    <% } %>  
                                                                </span>
                                                            <% } %>  
                                                            <script>
                                                                $(".show_event").hide();           
                                                                $(document).ready(function () {
                                                                    $(".temp").hover(function () {
                                                                        $(this).siblings(".show_event").fadeIn({duration:200});
                                                                    }, function () {
                                                                        $(this).siblings(".show_event").fadeOut({duration:200});
                                                                    });
                                                                });
                                                            </script>
                                                        </td>
                                                    </tr> 
                                                </li>   
                                            <% } %>  
                                        <% } %>  
                                    </ul>
                            </table>

                            <div style=" margin-top: 30px; margin-bottom: 200px;  width: 100%; font-family: balootamma2;"> 
                                <label style="float: right; color: tomato; font-size: 25px; font-weight: bold;"  id="final_price_value"> <%=orders[i].total_price.toLocaleString() %> đ
                                </label> 
                                <label style="float: right; font-size: 25px; font-weight: bold; margin-right: 20px;" > 
                                    Tổng tiền: 
                                </label> 
                            </div>
                        </li>
                        <% } %>  
                   
                </ul>
           

             <!--liên kết đến các trang facebook, instagram...-->
             <div id="follow-us" > 
                <%- include('module/follow_us'); -%>
            </div>

            <!--hết phần liên kết đến các trang facebook, instagram...-->

            <!--Phần footer để hiện thị địa chỉ của hàng, hotline ....-->

            <div id="footer" class="footer-container">
                <%- include('module/footer'); -%>
            </div>
        </div>
   
</body>
</html>