<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/project.css">
    <link rel="stylesheet" type="text/css" href="CSS/shopping.css">
    <title> Giỏ hàng của bạn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <!-- Phần hình nền, menu-->
        <div id="top-field" class="top-field">
            <div id="menu-bar"> 
               
                <ul id="submenu">
                    <li> <a href="/" title="Trang chủ"> Trang chủ</a> </li>
                    <li> <a href="/about_us" title="Giới thiệu"> Giới thiệu</a> </li>
                    <li> <a href="/event" title="Khuyến mãi"> Khuyến mãi</a> </li>
                    <li> <a href="/contact" title="Liên hệ"> Liên hệ</a> </li>
                </ul>
           
               
                <div id="sign-in" > 
                    <%- include('module/user_info'); -%>
                </div> 

                </div>
                        <div id="logo"> LapCity</div>
                <div>
                
            </div>



        </div> 
<!--Hết phần hình nền menu-->

<!-- phần hiển thị nội dung và phần chân trang-->
               
            <% if(mess.length) {%>
                <p id="check_order" style="display: none;"><%= mess %> </p>
            <% } %> 

            <script>   // xóa giỏ hàng khi mua xong
                var mess=document.getElementById("check_order").textContent;

                if(mess.length > 0){
                    localStorage.removeItem('cart');
                }
            </script>

        <div id="bottom-field" class="bottom-container">

            <div style="margin-top:5px">
                <a style="text-decoration: none;" href="/shopping">
                    <button class="cart-menu active" id="btn_cart"> Giỏ hàng</button>
                 </a>
                <a style="text-decoration: none; margin-left: -5px;" href="/shopping/history"><button class="cart-menu" id="btn_history"> Lịch sử mua hàng</button> </a>
                <a style="text-decoration: none; margin-left: -5px;" href="/shopping/dealing"><button class="cart-menu" id="btn_dealing"> Đang giao dịch</button> </a>
            </div>
            
            <h2 id="mess" > </h2>

            <table id="cart">

                <tr>
                    <th > Hình ảnh</th>
                    <th style="width : 30%;"> Thông tin sản phẩm </th>
                    <th style="width : 15%;"> Đơn giá</th>
                    <th style="width : 10%;"> Số lượng </th>
                    <th style="width : 15%;"> Tạm tính</th>
                    <th style="width : 10%;"> Xóa </th>
                </tr>
            </table>

            <div style=" margin-top: 30px; margin-bottom: 50px;  width: 100%; font-family: balootamma2;"> 
                <a href="/product"><button id="btn_mua_tiep"> Tiếp tục mua hàng</button> </a>


                <label style="float: right; color: tomato; font-size: 25px; font-weight: bold;"  id="final_price_value"> 
                    0 đ
                </label> 
                <label style="float: right; font-size: 25px; font-weight: bold; margin-right: 20px;" > 
                    Tổng tiền: 
                </label> 
               
            </div>
            

            <%# hiển thị list item trng giở hàng %> 

            <script>

                var item = JSON.parse(window.localStorage.getItem('cart')) || [];
              
                show_cart(item);
                cart_check(item);
                // kiểm tra xem giỏ hàng có sản phẩm hay không
                function cart_check(item){
                    if(item.length === 0){
                        $("#mess").text('Giỏ hàng của bạn chưa có sản phẩm');
                        $("#btn_mua_tiep").text('Tìm sản phẩm');
                    } else{
                        $("#mess").text('Kiểm tra giỏ hàng của bạn');
                        $("#btn_mua_tiep").text('Tiếp tục mua hàng');
                    }
                }
                
                // hiển thị sản phẩm từ localstorage
                function show_cart(item){
                        var newitem = "";
                        var final_price = 0;
                        for(var i=0; i< item.length; i++){ 
                            var price = item[i].price;
                            var price_format = Number(price).toLocaleString() + ' đ';
                            
                            var discount = parseInt((item[i].event).split("_/")[1]);
                            if(discount){
                                var temp_price = price * item[i].quantity;
                                var temp_discount = discount * item[i].quantity;
                                var total_discount = temp_price - temp_discount;
                                var total_format = total_discount.toLocaleString() + ' đ';

                            } else {
                                var temp_price = parseInt(price * item[i].quantity);
                                var temp_discount = 0;
                                var total_discount = temp_price;
                                var total_format = total_discount.toLocaleString() + ' đ';
                            }
                           
                            newitem += ` 
                            
                            <tr class = "addItem">
                                <td id="pic"> 
                                    <div style="margin: auto; width: 150px; height: 150px;" > 
                                        <img src="${item[i].img}" height="100%" width="100%"> 
                                    </div>
                                </td>
                                <td id="name">
                                    <a href="/product/${item[i].brand}/${item[i].serie}/${item[i].ma_may}" 
                                    style="text-decoration: none; color: #4b4b4b;">
                                    <span style="font-weight: bold; color: tomato;">${item[i].brand}</span> | 
                                    <span style="font-weight: bold; color: tomato;">${item[i].serie}</span> | 
                                    <span style="font-weight: bold; color: tomato;">${item[i].ma_may}</span> | 
                                        ${item[i].cpu} | ${item[i].gpu} |${item[i].ram} | ${item[i].ssd} | ${item[i].hdd}
                                    </a>  
                                </td>1
                                <td id="price" style=" color: tomato;"> ${price_format}</td>
                                <td > 
                                    <input id="quantity_${i}" type="number" name="quantity_${i}" style="border-radius: 5px; text-align: center;" 
                                    min="1" value="${item[i].quantity}" onchange="update(${i})" >     
                                </td>
                                
                                <td id="total"  style=" color: tomato;">  
                                    <span style="font-weight: bold">${total_format}</span> <br class = "clear_${i}">
                                    <span id ="temp_${i}" class = "temp_discount">(-${temp_discount.toLocaleString()}) 
                                        <img src="Resources/Icon/question.svg" height="12px" style = "position: absolute; opacity: 70%">
                                    </span> <br class = "clear_${i}">
                                    <span id= "sub_temp_${i}" class ="show_event" style = "position: absolute;width: 150px; background-color: white; border-radius: 10px; margin-top: -12px; margin-left: 35px;">
                                        <p style ="color: tomato;">${(item[i].event).split("_/")[2]}</p> 
                                    </span>
                                </td>
                                <td > 
                                    <div style="width: 30px; height: 30px; margin: auto;">
                                        <img id="xoa" src="Resources/Icon/trash.svg" width="100%" height="100%," onclick= "delete_item(${i})">
                                    </div>    
                                </td>
                            </tr> 
                           `;
                            
                              
                            final_price += total_discount;
                        }

                        $(".addItem").remove();
                        $("#cart").append(newitem);
                        $("#final_price_value").text(final_price.toLocaleString() + ' ' + 'đ');

                        show_event_hover();
                        clear_if_no_event();
                        
                }
                
                 //update khi thay đổi số lượng
               function show_event_hover(){
                    $(".show_event").hide();           
                    $(document).ready(function () {
                        $(".temp_discount").hover(function () {
                            $(this).siblings(".show_event").fadeIn({duration:200});
                        }, function () {
                            $(this).siblings(".show_event").fadeOut({duration:200});
                        });
                    });
                }

                //ẩn phần trừ tiền khi không có giảm giá
                function clear_if_no_event(){
                    for(var i=0; i< item.length; i++){ 
                        if(item[i].event == ""){
                            $("#temp_" + i ).remove();
                            $("#sub_temp_" + i).remove();
                            $(".clear_" + i).remove();
                        }
                    }
                }
               
                //xóa sản phẩm khỏi giỏ hàng
                function delete_item(id){
                    item.splice(id,1);
                    show_cart(item);
                    cart_check(item)
                    localStorage.setItem('cart', JSON.stringify(item));

                    var final_item = window.localStorage.getItem('cart') || []; 
                    document.getElementById("input_item").value = final_item;

                }
            </script>


            <% if(typeof user == "undefined"){ %>
                <% user = {name: "", phone : "", email: "", address: ""} %> 
                <% } %>  

            <h2 style="color: tomato; text-align: center; padding: 40px 0 30px 0; border-top: 1px dotted #bb77bb; font-family: balootamma2;">Thông tin giao hàng</h2>
            <form id="cart_submit" method="POST" >

                <div class="row">       
                    <div class="label"> 
                        <label for="name"><b>#Họ và tên:</b></label>
                    </div>
                    <div class="input">
                        <input id="name" type="text" placeholder="Nhập họ và tên" name="name" onchange="checkcartform()" value="<%-user.name_%>">
                    </div>
                </div>

                <div class="row">       <!--số điện thoại-->
                    <div class="label">
                        <label for="cart_phone"><b>#Số điện thoại:</b></label>
                    </div>
                    <div class="input">
                        <% if(user.phone == null){ %>
                            <% var phone = 0 %> 
                            <% } else {%>
                                <% var phone = "0" +user.phone %> 
                                <% } %>   
                        <input id="cart_phone" type="tel" placeholder="Nhập số điện thoại" onchange="checkcartform()" name="phone" value=<%-phone_%> >
                        <label id="phonecart-error" class="error" ></label>
                    </div>
                </div>

                <div class="row">       <!--email-->
                    <div class="label">
                        <label for="cart_email"><b>#Email</b></label>
                    </div>
                    <div class="input">
                        <input id="cart_email" type="text" placeholder="Nhập email" name="email" onchange="checkcartform()" value="<%-user.email_%>" >
                        <label id="emailcart-error" class="error" ></label>
                    </div>
                    
                </div>

                <div class="row">       
                    <div class="label">
                        <label for="address"><b>#Địa chỉ:</b></label>
                    </div>
                    <div class="input">
                        <input id="address" type="text" placeholder="Nhập địa chỉ giao hàng" name="address" onchange="checkcartform()" value="<%-user.address_%>" >
                    </div>
                </div>
                
                <div class="row">          
                    <div class="label">
                        <label for="note"><b>#Ghi chú:</b></label>
                    </div>    
                    <div class="input">
                        <textarea id="note" type="text" name="note" placeholder="Thêm ghi chú"></textarea>
                    </div>
                </div>
                
                <input type="hidden" id="input_item" name="item" value>
                
                <div style=" width: 100%;">
                    <div style="margin: auto; width: fit-content;">
                        <button  id="btn_mua" disabled type="submit" >Xác nhận mua hàng</button>
                    </div>
                </div>
            </form>

            <script>
                var final_item = window.localStorage.getItem('cart') || []; 
                document.getElementById("input_item").value = final_item; 
            </script> 

        
            
            <script>    //set item và số lượng vào iput item
                    function update(id){
                        new_quantity = $("#quantity_"+id).val();

                        var item_conlai = window.localStorage.getItem('cart') || []; 
                        
                        item[id].quantity = new_quantity;
                        localStorage.setItem('cart', JSON.stringify(item));
                        show_cart(item);
                        
                        var final_item = window.localStorage.getItem('cart') || []; 
                        document.getElementById("input_item").value = final_item; 
                    }
                               
            </script>


            <script>    //validate thông tin khách hàng
                $("#btn_mua").css("opacity", "30%");
                checkcartform();
                function checkcartform(){
                    var valid = $("#cart_submit").valid();
                    var mailvalid = checkcartmail();
                    var phonevalid = checkcartphone();
                    if(valid == true && mailvalid == true && phonevalid && true){
                        $("#btn_mua").attr("disabled",false).css("opacity", "100%");
                        return true;
                    } else {
                        $("#btn_mua").attr("disabled", true).css("opacity", "30%");
                        return false;
                    }
                }

            $(document).ready(function() {      //validate
               
                $("#cart_submit").validate({
                    rules: {
                        name:{
                            required:true,
                        },
                        phone:{
                            required:true
                        },
                        email:{
                            required:true
                        },
                        address:{
                            required:true
                        },
                    },
                    messages: {
                        name:{
                            required: "Vui lòng không bỏ trống họ và tên"
                            },
                        phone:{
                            required: "Số điện thoại không được bỏ trống"
                            },
                        email:{
                            required: "Email là bắt buộc"
                        },
                        address:{
                                required: "Địa chỉ không thể bỏ trống"
                        },
                    }
                });
            });  
            function checkcartmail(){
                    $("#emailcart-error").attr("style",false);
                    const mail_regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    var email = $('#cart_email').val();
                    $('#cart_email-error').hide();
                    if(email !== ''){
                        if (mail_regex.test(email) == false) {
                            document.getElementById("emailcart-error").textContent = "Email không hợp lệ";
                            return false;                            
                        }else{
                            document.getElementById("emailcart-error").textContent = '';
                            return true;
                        }
                    }else{
                        if( document.getElementById("cart_email-error").textContent = "Email là bắt buộc"){
                            $('#emailcart-error').hide();
                        } else {
                            document.getElementById("emailcart-error").textContent = "Email là bắt buộc"
                        }
                        return false;
                    }
                };
                    
                function checkcartphone(){
                    $("#phonecart-error").attr("style",false);
                    var phone_regex = /((09|03|07|08|05)+([0-9]{8})\b)/g;
                    var mobile = $('#cart_phone').val();
                    if(mobile !==''){
                        if (phone_regex.test(mobile) == false) {
                            document.getElementById("phonecart-error").textContent = "Số điện thoại không đúng định dạng";
                            return false;   
                        }else{
                            document.getElementById("phonecart-error").textContent = '';
                            return true;   
                        }       
                    } else {
                        if(document.getElementById("cart_phone-error").textContent = 'Số điện thoại không được bỏ trống'){
                            $("#phonecart-error").hide();
                        } else {
                            document.getElementById("phonecart-error").textContent = "Số điện thoại không được bỏ trống";
                        }
                        return false;      
                    }
                };
            </script>

             <!--liên kết đến các trang facebook, instagram...-->
             <div id="follow-us" > 
                <%- include('module/follow_us'); -%>
            </div>

            <!--hết phần liên kết đến các trang facebook, instagram...-->

            <!--Phần footer để hiện thị địa chỉ của hàng, hotline ....-->

            <div id="footer" class="footer-container">
                <%- include('module/footer'); -%>
            </div>
        </div>
   
</body>
</html>