<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/user_sign_up.css">
    <title> Đăng kí tài khoản </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    
    <div class=".container">
        <form id="sign-up" method="POST" >
            <h2>Đăng kí tài khoản</h2>
            <ul>
                <% for(var i=0; i< error.length;i++){ %> 
                    <li style="font-weight: bold; color: antiquewhite;"> <%- error[i] %> </li>
                <%}%>
            </ul>
           

            <div class="row">       <!--username-->
                <div class="label"> 
                    <label for="name"><b>Tên</b></label>
                </div>
                <div class="input">
                    <input id="name" type="text" placeholder="Nhập tên của bạn" name="name" onchange="checkform()" value=<%- values.name_%>>
                </div>
            </div>

            <div class="row">       <!--số điện thoại-->
                <div class="label">
                    <label for="sign_up_phone"><b>Số điện thoại</b></label>
                </div>
                <div class="input">
                    <input id="sign_up_phone" type="number" placeholder="Nhập số điện thoại của bạn" name="phone" onchange="checkform()" value=<%- values.phone_%> >
                </div>
                <label id="phone-error" class="error" ></label>
             </div>

             <div class="row">       <!--email-->
                <div class="label">
                    <label for="sign_up_email"><b>Email</b></label>
                </div>
                <div class="input">
                    <input id="sign_up_email" type="text" placeholder="Nhập email" name="email" onchange="checkform()" value=<%- values.email_%> >
                </div>
                <label id="email-error" class="error" ></label>
            </div>
                
            <div class="row">           <!--mật khẩu-->
                <div class="label">
                    <label for="password"><b>Nhập mật khẩu </b></label>
                </div>               
                <div class="input">
                    <input id="password" type="password" placeholder="Nhập password" onchange="checkform()" name="password" value=<%- values.password_%>>
                </div>
            </div>
            
            <div class="row">           <!--nhập lại mật khẩu-->
                <div class="label">
                    <label for="re-password"><b>Nhập lại mật khẩu </b></label>
                </div>    
                <div class="input">
                    <input id="re-password" type="password" placeholder="Nhập lại password" onchange="checkform()" name="re_password" value=<%- values.re_password_%>>
                </div>
            </div>

            <div >
                <button  id="btn_sign_up" disabled type="submit" >Đăng kí</button>
                <a href="/user/sign-in"> Hoặc đăng nhập! </a>
            </div>
                
          </form>

          <script type="text/javascript">
            $(document).ready(function() {      //validate
               
                $("#sign-up").validate({
                    rules: {
                        name:{
                            required:true
                        },
                        email:{
                            required:true
                        },
                        phone:{
                            required: true
                        },
                        password:{
                            required:true,
                            minlength:4
                        },
                        re_password:{
                            required:true,
                            equalTo: "#password"
                        }
                    },
                    messages: {
                        name:{
                            required: "Tên không thể bỏ trống"     
                            },
                        phone:{
                            required: 'Số điện thoại không được bỏ trống'
                        },
                        email:{
                                required: "Email là bắt buộc"
                        },  
                        password:{
                                required: "Password không thể bỏ trống",
                                minlength: "Password phải từ 4 kí tự trở lên"
                        },
                        re_password:{
                            required: "Nhập lại password",
                            equalTo: "Password không trùng khớp"
                        }
                    } 
                });
                });  

                function checkform(){

                    var valid = $("#sign-up").valid();
                    var mailvalid = checkmail();
                    var phonevalid = checkphone();

                    if(valid == true && mailvalid == true && phonevalid && true){
                        $("#btn_sign_up").attr("disabled",false).css("opacity", "100%")
                    } else {
                        $("#btn_sign_up").attr("disabled", true).css("opacity", "40%")
                    }
                }
                
                function checkmail(){
                        $("#email-error").attr("style",false);
                        const mail_regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                        var email = $('#sign_up_email').val();
                        if(email !== ''){
                            if (mail_regex.test(email) == false) {
                                document.getElementById("email-error").textContent = "Vui lòng nhập đúng định dạng email";
                                return false
                            }else{
                                document.getElementById("email-error").textContent = '';
                                return true;
                            }
                        }else{
                            if( document.getElementById("sign_up_email-error").textContent = "Email là bắt buộc"){
                                $('#email-error').hide();
                            } else {
                                document.getElementById("email-error").textContent = "Email là bắt buộc"
                            }
                            return false;
                        }
                    };     


                function checkphone(){
                    $("#phone-error").attr("style",false);

                    var phone_regex = /((09|03|07|08|05)+([0-9]{8})\b)/g;
                    
                    var mobile = $('#sign_up_phone').val();
                    if(mobile !==''){
                        if (phone_regex.test(mobile) == false) {
                            document.getElementById("phone-error").textContent = "Số điện thoại không đúng định dạng";
                            return false;
                        }else{
                            document.getElementById("phone-error").textContent = '';
                            return true;
                        }       
                    } else {
                        if(document.getElementById("sign_up_phone-error").textContent = 'Số điện thoại không được bỏ trống'){
                            $("#phone-error").hide();
                        } else {
                            document.getElementById("phone-error").textContent = "Số điện thoại không được bỏ trống";
                        }
                        return true;
                                     
                    }
                };
            </script>

    </div>
   
</body>